.our-team {
  background-color: $button-bgc;
}

.our-team__title {
  margin-top: 0px;
  margin-bottom: 30px;
  @include font(700, 28px, 1.18, 0.03em, null);
}

.our-team__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team__member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  // &:not(:last-child) {
  //         margin-bottom: 30px;
  //     }
}

.team-data {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;

  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  &__position {
    margin: 0px;
    line-height: 1.2;
    color: $secondary-text-color;
    letter-spacing: 0.03em;
  }
}

.our-team__social {
  @extend %list;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.our-team__social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.our-team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #fff;
  color: $social-icon-color;
  fill: $social-icon-color;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $active-element-color;
    color: #ffffff;
    fill: #ffffff;
  }
}

.our-team__social-icon {
  fill: currentColor;
}
// ...........................................................планшет

.our-team__member {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
