$main-bgc: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$active-element-color: #2196f3;
$web-element-color: #2196f3;
$button-bgc: #f5f4fa;
$hero-bgc: #2F303A;
$social-icon-color: #AFB1B8;
$border-color: #ECECEC;